{% assign btn_variant = variant | default: 'primary' %}
{% assign classes = "btn btn--" | append: btn_variant %}

{% if extra_class %}
  {% assign classes = classes | append: " " | append: extra_class %}
{% endif %}

{% if href %}
  <a 
    href="{{ href }}" 
    class="{{ classes }}"
  >
    {{ label }}
  </a>
{% else %}
  <button 
    type="{{ type | default: 'button' }}" 
    {% if link %}onclick="window.location.href='{{ link }}'"{% endif %}
    class="{{ classes }}"
  >
    {{ label }}
  </button>
{% endif %}
