{% assign classes = "btn btn--" | append: variant | default: 'primary' %}

{% if extra_class %}
  {% assign classes = classes | append: " " | append: extra_class %}
{% endif %}

{% if href %}
    <a 
        href="{{ href }}" 
        class="{{ classes }}"
    >
        {{ label }}
    </a>
{% else %}
    <button 
        type="button" 
        onclick="window.location.href = '{{ link }}'" 
        class="{{ classes }}"
    >
        {{ label }}
    </button>
{% endif %}