<div class="product-card">
    {% if product.featured_image %}
        <a href="{{ product.url }}">
            <img 
                class="product-card__image rounded-lg"
                src="{{ product.featured_image | image_url: width: 256, height: 256 }}" 
                alt="{{ product.featured_image.alt }}"
                width="256"
                height="256"
                loading="lazy"
                onerror="this.onerror=null;this.src='{{ 'placeholder-256.svg' | asset_url }}';"
            />
        </a>
    {% else %}
        <img
            class="product-card__image rounded-lg"
            src="{{ 'placeholder-256.svg' | asset_url }}"
            alt="Placeholder"
            width="256"
            height="256"
            loading="lazy"
        />
    {% endif %}
    <h3 class="product-card__title">
        {{ product.title }}
    </h3>
    <p class="product-card__description">
        {{ product.description | strip_html | truncatewords: 12 }}
    </p>
    <div class="product-card__price">
        {{ product.price | money }}
    </div>
    {% if product.url %}
        {% render 'button', 
            href: product.url, 
            label: 'product.more' | t, 
            variant: 'outline', 
            extra_class: 'btn--w-auto' 
        %}
    {% endif %}
</div>