<div class="header__wrapper">
  <div class="header__title">
    {{ shop.name | link_to: routes.root_url }}
  </div>

  <ul class="header__menu">
    {% for link in section.settings.menu.links %}
      <li>{{ link.title | link_to: link.url }}</li>
    {% endfor %}
  </ul>

  <div class="header__icons">
    <a href="{{ routes.cart_url }}">
      {% if cart.item_count > 0 %}
        <sup>{{ cart.item_count }}</sup>
      {% endif %}

      {{ 'icon-cart.svg' | inline_asset_content }}
    </a>
  </div>
</div>

{% schema %}
{
  "name": "t:general.header",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "t:labels.menu"
    }
  ]
}
{% endschema %}
