<div class="header__wrapper">
  <div class="header__logo">
    <a 
      href="{{ routes.root_url }}"
      class="header__link"
    >
      {% if section.settings.logo != blank %}
        <img 
          srcset="{{ section.settings.logo | image_url: width: 40 }} 40w, {{ section.settings.logo | image_url: width: 80 }} 80w" 
          src="{{ section.settings.logo | image_url: width: 80 }}"
          alt="{{ shop.name }}" 
          class="header__logo"
          width="40"
          height="40"
        >
        <span>Store</span>
      {% else %}
        {{ shop.name }}
      {% endif %}
    </a>
  </div>

  <ul class="header__menu">
    {% for link in section.settings.menu.links %}
      <li>{{ link.title | link_to: link.url }}</li>
    {% endfor %}
  </ul>

  <div class="header__icons">
    <a href="{{ routes.cart_url }}">
      {% if cart.item_count > 0 %}
        <sup>{{ cart.item_count }}</sup>
      {% endif %}

      {{ 'icon-cart.svg' | inline_asset_content }}
    </a>
  </div>
</div>

{% schema %}
{
  "name": "t:general.header",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "t:labels.menu"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    }
  ]
}
{% endschema %}
