{{ 'highlights.css' | asset_url | stylesheet_tag }}
{{ 'button.css' | asset_url | stylesheet_tag }}

<div class="highlights">
{% for block in section.blocks limit: 3 %}
  <div class="highlight">
  <h3>{{ block.settings.title }}</h3>
  <p class="highlight-description">{{ block.settings.description }}</p>
  <a href="{{ block.settings.link }}" class="btn btn--primary">
    {{ block.settings.link_title }}
  </a>
  </div>
{% endfor %} 
</div>


{% schema %}
{
  "name": "Hightlights",
  "settings": [],
  "blocks": [
    {
        "type": "card",
        "name": "Card",
        "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Title"
        },
        {
            "type": "textarea",
            "id": "description",
            "label": "Description",
            "default": "Description"
        },
        {
            "type": "url",
            "id": "link",
            "label": "Link"
        },
        {
            "type": "text",
          "id": "link_title",
          "label": "Link Title",
          "default": "Read more"
        }
      ]
    }
  ],
  "max_blocks": 3,
  "presets": [
    {
        "name": "Hightlights Section",
        "category": "Custom"
    }
  ]
}
{% endschema %}
