<div class="shopify-section shopify-section--narrow">
  <div class="page full-width">
    <div class="page__content">
      <div class="page__inner">
        <h1>
            {{ article.title }}
        </h1>
        {% render 'image',
            src: article.image,
            alt: article.title,
            width: 728,
            height: 412,
            fallback: 'placeholder-728.svg',
            class: 'page__image'
        %}
        <div class="blog-section__meta">
            <span class="blog-section__date">
              {{ article.updated_at | date: '%d, %B %Y' }}
            </span> |
            <span class="blog-section__author">
              {{ 'blog.by' | t }} {{ article.author }}
            </span>
          </div>
        <div>
            {{ article.content }}
        </div>
      </div>
    </div>
  </div>
</div>