<div class="shopify-section">
  <div class="product full-width">
    <div class="product__content">
      <div class="product__inner">
        <h1 class="product__title">
          My Bag
            {% if cart.item_count > 1 %}
              <span>({{ cart.item_count | append: ' items' }})</span>
            {% else %}
              <span>({{ cart.item_count | append: ' item' }})</span>
            {% endif %}
        </h1>
        {% if cart.item_count > 0 %}
          <div class="cart">
            {% for item in cart.items %}
              <div class="cart__item">
                <div class="cart__item--image">
                  <img 
                    src="{{ item.image | image_url: width: 80, height: 80 }}" 
                    alt="{{ item.image.alt | escape }}" 
                    class="rounded-lg"
                  />
                </div>
                <div class="cart__item--details">
                  <h2 class="cart__item--title">
                    <a href="{{ item.url }}">
                      {{ item.product.title }}
                    </a>
                  </h2>
                  {% render 'cart-variants', product: item.product, variant: item.variant %}
                  <div class="cart__item--quantity">
                    <form 
                        method="post" 
                        action="/cart/change" 
                        class="cart__qty-form"
                    >
                        <input 
                            type="hidden" 
                            name="id" 
                            value="{{ item.key }}"
                        >
                        <input 
                            type="number" 
                            name="quantity" 
                            value="{{ item.quantity }}" 
                            min="0" 
                            class="input--qty"
                        >
                        <div class="cart__item--actions">
                          {% render 'button',
                            type: 'submit',
                            label: 'Update', 
                            variant: 'secondary'
                            extra_class: 'btn--w-full'
                          %}
                          {% render 'button',
                            link: item.url_to_remove,
                            label: 'Remove', 
                            variant: 'danger',
                            extra_class: 'btn--w-full'
                          %}
                        </div>
                    </form>
                  </div>
                </div>
                <div class="cart__item--price">
                   Total: <strong>{{ item.final_line_price | money }}</strong>
                </div>
              </div>
            {% endfor %}
          </div>
          <div class="cart__footer">
            <div class="cart__total">
                <span>
                    Subtotal:
                </span>&nbsp;
                <strong>
                    {{ cart.total_price | money }}
                </strong>
            </div>
            <form 
                action="/checkout" 
                method="post"
            >
                <button 
                    type="submit" 
                    class="btn btn--primary"
                >
                    Proceed Checkout
                </button>
            </form>
          </div>
        {% else %}
          <p>Your bag is empty.</p>
            {% render 'button', 
                href: 'collections/new', 
                label: 'Start Shopping', 
                variant: 'outline' 
            %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
