<div class="shopify-section">
    <div class="product full-width">
        <div class="product__content">
            <div class="product__inner--left">
                <img 
                    src="{{ product.featured_image | image_url: width: 400, height: 400  }}" 
                    alt="{{ product.featured_image.alt }}" 
                    class="product__image rounded-lg"
                />
            </div>
            <div class="product__inner--right">
                <h1 class="product__title">{{ product.title }}</h1>
                <div class="product__price">
                    {{ product.price | money }}
                </div>
                <p class="product__description">
                    {{ product.description }}
                </p>
                {% unless product.has_only_default_variant %}
                    {% for option in product.options_with_values %}
                      <fieldset id="ProductSelect-option-{{ forloop.index0 }}" class="product__options">
                        <legend>{{ option.name | escape }}</legend>
                        {% for value in option.values %}
                            {% assign input_id = 'option-' | append: forloop.parentloop.index0 | append: '-' | append: forloop.index0 %}
                            <input 
                              type="radio"
                              id="{{ input_id }}"
                              name="{{ option.name | handleize }}"
                              value="{{ value | escape }}"
                              class="variant-radio sr-only"
                              {% if value == option.selected_value %}checked{% endif %}
                              {% unless value.available %}disabled{% endunless %}
                            >
                            <label 
                              for="{{ input_id }}" 
                              class="variant-btn btn btn--outline"
                            >
                              {{ value }}
                            </label>
                          {% endfor %}
                      </fieldset>
                    {% endfor %}
                  {% endunless %}
                <form 
                    method="post" 
                    action="/cart/add" 
                    class="product__form"
                >
                    <input type="hidden" name="id" value="{{ product.variants.first.id }}">
                    {% render 'button', 
                        type: 'submit', 
                        link: product.url, 
                        label: 'Add To Bag', 
                        variant: 'outline', 
                        extra_class: 'btn--w-auto' 
                    %}
                </form>
            </div>
        </div> 
    </div> 
</div>
